footer{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:0;
    height:20rem;
    width:390rem;
    
    .footerItem{
    width:25%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:12rem;

    }
}